.bg-base {
    background-color: var(--base);
}

.bg-secondary {
    background-color: var(--secondary);
}


body {
    background-color: var(--primary);
    color: var(--light);
    font-family: 'Roboto', sans-serif
}

img{
    width: 100%;
}

.form-control-solar {
    border-radius: 25px;
}

.btn-solar {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--action);
    text-decoration: none;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}

.btn-solar:hover {

    background-color: var(--action-hover);

}


.hero-section-solar {
    position: relative;
    background-repeat: no-repeat;
    /* Nem ismétli a képet */
    background-size: cover;
    /* Kitölti a teljes területet */
    background-position: center;
    /* Középre igazítja */
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* Ha függőlegesen szeretnéd az elemeket egymás alá rendezni */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    row-gap: 8px;
}


#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.feature-section-solar {
    background-color: var(--primary);
}

.feature-section-img-solar {
    width: 100%;
    border-radius: var(--border-radius);
}

.vh-50-solar {
    height: 50vh;
}

.full-section-solar {
    height: 100vh;
    background-image: url(/img/bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.full-section-solar h2 {
    text-align: center;
    font-size: 4rem;
}

.full-section-solar p {
    text-align: center;
    font-size: 1.5rem;
}

.btn-outline-solar {
    color: var(--action);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: transparent;
    text-decoration: none;
    font-weight: 500;
    border-radius: var(--border-radius);
    border-color: var(--action);
    transition: all 0.3s ease-in-out;
}

.btn-outline-solar:hover {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--action-hover);
    text-decoration: none;
    font-weight: 500;
    border-radius: var(--border-radius);
    border-color: var(--action);
}

.footer-solar {
    padding: 1em;

}

.quote-section-solar {
    background-color: var(--primary);
}

.quote-container-solar {

    background-color: var(--secondary);
    padding: 3em;
    margin: 2em;
    border-radius: var(--border-radius);
}

.video-section-solar {
    display: grid;
    place-items: center;
    margin-bottom: 3em;
}

.header-section{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-image: url(/img/feature-section.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section{
    padding-top: var(--padding-base);
    padding-bottom: var(--padding-base);
}

.content-section {
    padding-top: var(--padding-base);
    padding-bottom: var(--padding-base);
  }
  
  @media (min-width: var(--breakpoint)) {
    .content-section {
      padding-top: var(--padding-max);
      padding-bottom: var(--padding-max);
    }
  }

.image-section-div{
    width: 100%;
    
}

.image-section-img{
    border-radius: var(--border-radius);
    border-color: var(--action);
    border-width: 2;
    border-style: solid;
}


.solar-border{
    border-radius: var(--border-radius);
    border-color: var(--action);
    border-width: 2;
    border-style: solid;
}