body{
    color: aliceblue;
    font-family: 'Roboto', sans-serif
    
}

.btn-nr {
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #7bdcb5;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
}


.hero-section {
    background-image: url('/img/hero-bg.jpg');
    background-repeat: no-repeat;    /* Nem ismétli a képet */
    background-size: cover;    /* Kitölti a teljes területet */
    background-position: center;     /* Középre igazítja */
    height: 70vh;
    display: flex;
    flex-direction: column;     /* Ha függőlegesen szeretnéd az elemeket egymás alá rendezni */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    row-gap: 8px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensures the video is behind other content */
    object-fit: cover;
}